In [1]:
alunos = '''Davi
Aline
Ana Suely
Bruno
Catarina
Felipe
Gustavo
Mariana
Pedro Gimael
Pedro Mattos
Ricardo
Thiago de Oliveira
Victor
Wesley
Alexandre
Andreza
Gabriel Philot
Gabriel Paula
Martin
Mikael
Renan
Renato
Ronaldo
Thiago Fidencio
Valentina'''.split("\n")

alunos

['Davi',
 'Aline',
 'Ana Suely',
 'Bruno',
 'Catarina',
 'Felipe',
 'Gustavo',
 'Mariana',
 'Pedro Gimael',
 'Pedro Mattos',
 'Ricardo',
 'Thiago de Oliveira',
 'Victor',
 'Wesley',
 'Alexandre',
 'Andreza',
 'Gabriel Philot',
 'Gabriel Paula',
 'Martin',
 'Mikael',
 'Renan',
 'Renato',
 'Ronaldo',
 'Thiago Fidencio',
 'Valentina']

In [2]:
grupos = "azul verde amarelo vermelho cinza".split()

grupos

['azul', 'verde', 'amarelo', 'vermelho', 'cinza']

In [3]:
len(alunos)

25

In [4]:
# como tem 5 grupos, e 25 pessoas...

grupos = grupos*5

In [5]:
import random

In [6]:
# embaralhando grupos...

random.shuffle(grupos)

grupos

['verde',
 'vermelho',
 'amarelo',
 'verde',
 'cinza',
 'azul',
 'cinza',
 'vermelho',
 'azul',
 'amarelo',
 'vermelho',
 'azul',
 'verde',
 'cinza',
 'vermelho',
 'vermelho',
 'azul',
 'cinza',
 'cinza',
 'verde',
 'azul',
 'verde',
 'amarelo',
 'amarelo',
 'amarelo']

In [7]:
# embaralhando os alunos

random.shuffle(alunos)

alunos

['Victor',
 'Wesley',
 'Davi',
 'Felipe',
 'Mikael',
 'Ronaldo',
 'Andreza',
 'Bruno',
 'Martin',
 'Aline',
 'Gabriel Philot',
 'Catarina',
 'Renato',
 'Pedro Gimael',
 'Renan',
 'Valentina',
 'Thiago Fidencio',
 'Gustavo',
 'Thiago de Oliveira',
 'Ana Suely',
 'Mariana',
 'Gabriel Paula',
 'Ricardo',
 'Pedro Mattos',
 'Alexandre']

In [8]:
dic = {aluno:grupo for aluno, grupo in zip(alunos, grupos)}

In [9]:
dic_final = {grupo: [] for grupo in grupos}

for aluno, grupo in dic.items():
    
    dic_final[grupo].append(aluno)

dic_final

{'verde': ['Victor', 'Felipe', 'Renato', 'Ana Suely', 'Gabriel Paula'],
 'vermelho': ['Wesley', 'Bruno', 'Gabriel Philot', 'Renan', 'Valentina'],
 'amarelo': ['Davi', 'Aline', 'Ricardo', 'Pedro Mattos', 'Alexandre'],
 'cinza': ['Mikael',
  'Andreza',
  'Pedro Gimael',
  'Gustavo',
  'Thiago de Oliveira'],
 'azul': ['Ronaldo', 'Martin', 'Catarina', 'Thiago Fidencio', 'Mariana']}

In [12]:
import pandas as pd

df = pd.DataFrame(dic_final)

df

,verde,vermelho,amarelo,cinza,azul
0,Victor,Wesley,Davi,Mikael,Ronaldo
1,Felipe,Bruno,Aline,Andreza,Martin
2,Renato,Gabriel Philot,Ricardo,Pedro Gimael,Catarina
3,Ana Suely,Renan,Pedro Mattos,Gustavo,Thiago Fidencio
4,Gabriel Paula,Valentina,Alexandre,Thiago de Oliveira,Mariana

In [16]:
for col in df.columns:
    
    print(f"Grupo {col}:")
    
    print(df[col].sort_values().tolist())
    
    print("\n")

Grupo verde:
['Ana Suely', 'Felipe', 'Gabriel Paula', 'Renato', 'Victor']


Grupo vermelho:
['Bruno', 'Gabriel Philot', 'Renan', 'Valentina', 'Wesley']


Grupo amarelo:
['Alexandre', 'Aline', 'Davi', 'Pedro Mattos', 'Ricardo']


Grupo cinza:
['Andreza', 'Gustavo', 'Mikael', 'Pedro Gimael', 'Thiago de Oliveira']


Grupo azul:
['Catarina', 'Mariana', 'Martin', 'Ronaldo', 'Thiago Fidencio']