### CONSULTA BANCO DE DADOS RDS USANDO PYTHON ###

In [1]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\python\lib\site-packages (2.9.1)

WARNING: You are using pip version 21.2.4; however, version 21.3.1 is available.
You should consider upgrading via the 'C:\python\python.exe -m pip install --upgrade pip' command.

In [2]:
import psycopg2 as pg
import pandas as pd

In [6]:
conn = pg.connect(
    host="letscode-backup.cdqbbkya2fg2.us-east-2.rds.amazonaws.com",
    database="northwind",
    user="letscode",
    password="bdsenhaletscode")
print("Postgres Database connection successful")

Postgres Database connection successful

In [7]:
df= pd.read_sql("SELECT * FROM categories ", conn)
                
df.head()

,category_id,category_name,description,picture
0,1,Beverages,"Soft drinks, coffees, teas, beers, and ales",[]
1,2,Condiments,"Sweet and savory sauces, relishes, spreads, an...",[]
2,3,Confections,"Desserts, candies, and sweet breads",[]
3,4,Dairy Products,Cheeses,[]
4,5,Grains/Cereals,"Breads, crackers, pasta, and cereal",[]