In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

In [38]:
bank = pd.read_csv('bank-full.csv', sep=';')

In [39]:
bank.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [40]:
bank2 = bank.copy()

In [41]:
for coluna in bank2.columns:
    if bank2[coluna].dtype == object:
        bank2[coluna] = bank2[coluna].astype('category').cat.codes

In [42]:
X = bank2.drop('y', axis=1)
y = bank2['y']

In [43]:
X_treino, X_teste, y_treino, y_teste = train_test_split(X, y, random_state=0)

In [ ]:
modelo_svm.fit
modelo_svm.fit(X_treino, y_treino)
y_pred = modelo_svm.predict(X_teste)

In [ ]:
y_pred