<h1>Execercicios dentro da aula 4</h1>
<h2>22/Fev 2021</h2>

s\[i:j:k\], segunda a documentação, "pedaço  s de i ate j step k". quando i e j estão isente, assume a  sequencia toda então s\[::k\] significa "todos  k-th item da lista".

In [12]:
lista = [ 1, 10.0, 'martin', False, [True, False] , -3 ]
print(lista[::2])

[1, 'martin', [True, False]]

In [5]:
lista =  [1,2,4] + [1,2,4]
print(lista)

[1, 2, 4, 1, 2, 4]

In [6]:
lista = [ 1, 10.0, 'martin', False, [True, False] , -3 ]
lista_inv = lista[::-1]
print(lista_inv)

[-3, [True, False], False, 'martin', 10.0, 1]

In [7]:
lista = [ 1, 10.0, 'martin', False, [True, False] , -3 ]
tamanho = len(lista)
print(tamanho)

6

In [11]:
lista = [ 1, 10.0, 'martin', False, [True, False] , -3 ]
tamanho = len(lista)
for item in lista:
    print(item)

1
10.0
martin
False
[True, False]
-3

In [11]:
lista = [ 1, 10.0, 'martin', False, [True, False] , -3 ]
penultDaLista = [-2]
print(penultDaLista)

[-2]

In [25]:
lista = [ 1, 10.0, 'martin', False, [True, False] , -3 ]
print("primeirosDoisIten", lista[:2])
print("primeirosDoisIten", lista[-2:])

primeirosDoisIten [1, 10.0]
primeirosDoisIten [[True, False], -3]

In [2]:

for i in "Martin":
    print(i)
print("Martin"[3])

M
a
r
t
i
n
t

In [12]:
string = 'João,Maria,José,Carla,Lucas,Joana'
resultado = string.split(',')
print(resultado)

['João', 'Maria', 'José', 'Carla', 'Lucas', 'Joana']

In [16]:
print("Hallo Welt{:.3f}".format(3.4))

Hallo Welt3.400