# Questão #1  
Vale 10  
Enunciado   
Em um concurso público foram contabilizados os números de pessoas inscritas   
(até a data inicialmente estabelecida para a inscrição)   
segundo os níveis de escolaridade: fundamental completo,   
médio completo, superior completo e pós-graduação completa. Segue abaixo a tabela com os valores observados.
  
|Nível de escolaridade|	Inscritos  |
|---|----|
|Fundamental completo|	451  |
|Médio completo|	627  |
|Superior completo|	292  |
|Pós-graduação completa|	95  |
|Com base na tabela acima, crie uma Series com esses valores e calcule:  
  
(a) O número total de inscritos    
(b) Número inscritos que possuem, pelo menos, o superior completo.    
(c) Suponha que a inscrição foi prorrogada e, com isso, foi obtido um número adicional de inscrições:   68, 93, 22 e 0 inscritos a mais em cada uma das categorias de escolaridade apresentados na tabela acima   (na mesma ordem). Assim, crie uma nova Series com esses valores.  
(d) Utilizando as duas Series que você tem, calcule o número total de inscritos após a prorrogação do período de inscrições.

In [37]:
# Libraries
import matplotlib.patches as patches
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import sys
from io import StringIO

In [38]:
df = pd.read_csv(StringIO("""Nível de escolaridade,Inscritos
Fundamental completo,451
Médio completo,627
Superior completo,292
Pós-graduação completa,95
"""))
df

    Nível de escolaridade  Inscritos
0    Fundamental completo        451
1          Médio completo        627
2       Superior completo        292
3  Pós-graduação completa         95

(a) O número total de inscritos

In [39]:
df['Inscritos'].sum()

1465

(b) Número inscritos que possuem, pelo menos, o superior completo.

In [40]:
df[df.index>=2]['Inscritos'].sum()

387

(c) Suponha que a inscrição foi prorrogada e, com isso, foi obtido um número adicional de inscrições: 68, 93, 22 e 0 inscritos a mais em cada uma das categorias de escolaridade apresentados na tabela acima (na mesma ordem). Assim, crie uma nova Series com esses valores.

In [41]:
s = pd.Series([68, 93, 22 , 0])
s

0    68
1    93
2    22
3     0
dtype: int64

(d) Utilizando as duas Series que você tem, calcule o número total de inscritos após a prorrogação do período de inscrições.

In [42]:
df['Inscritos'] = df['Inscritos'].add(s)
df

    Nível de escolaridade  Inscritos
0    Fundamental completo        519
1          Médio completo        720
2       Superior completo        314
3  Pós-graduação completa         95

In [44]:
df['Inscritos'].sum()

1648

In [43]:
(c) Suponha que a inscrição foi prorrogada e, com isso, foi obtido um número adicional de inscrições: 68, 93, 22 e 0 inscritos a mais em cada uma das categorias de escolaridade apresentados na tabela acima (na mesma ordem). Assim, crie uma nova Series com esses valores.

SyntaxError: invalid syntax (<ipython-input-43-9a08d0ffdbab>, line 1)

# Questão #2   
Vale 10   
Enunciado  
   
Uma turma de cinco alunos foi submetida a uma avaliação e a nota de cada um dos alunos é apresentada na tabela abaixo:   
   
|Nome do Aluno|	Nota|
|---|----|
|Wilfred|	2|
|Abbie|	7|
|Harry|	5.5|
|Julia|	10|
|Carri|	6.2|
(a) Crie uma Series com os valores da tabela acima.  
(b) Retorne o número de alunos que foram aprovados (considerando que a nota mínima para a aprovação é 7).  
(c) Qual foi a nota média da turma.  
(d) Obtenha o nome dos alunos que tiraram notas acima da média da turma.

In [23]:
df = pd.read_csv(StringIO("""Nome do Aluno,Nota
Wilfred,2
Abbie,7
Harry,5.5
Julia,10
Carrie,6.2
"""))
df

  Nome do Aluno  Nota
0       Wilfred   2.0
1         Abbie   7.0
2         Harry   5.5
3         Julia  10.0
4        Carrie   6.2

#  Questão #3  
Vale 10   
Enunciado  
Crie um objeto DataFrame que contenha os dados da tabela abaixo, os quais se referem ao peso, altura e idade de cinco pessoas:  
  
|Peso (kg)|	Altura (cm)|	Idade|
|---|----|----| 
|72|180|31|
|80|170|21|
|60|175|16|
|90|174|28|
|10|	185|	23|
Com base no DataFrame criado, realize o que pedido nos itens abaixo:

(a) Visualize apenas os dados da coluna que contém a altura das pessoas.
(b) Obtenha a idade média das pessoas.
(c) Obtenha os dados das pessoas que estão abaixo da altura média.
(d) Crie um nova coluna no DataFrame que contenha o IMC (Índice de Massa Corporal) de cada pessoa.
(e) Remova a coluna que contém a idade das pessoas.
(f) Salve esses dados do DataFrame em um arquivo csv.

In [22]:
df = pd.read_csv(StringIO("""Peso (kg),Altura (cm),Idade
72,180,31
80,170,21
60,175,16
90,174,28
100,185,23
"""))
df

   Peso (kg)  Altura (cm)  Idade
0         72          180     31
1         80          170     21
2         60          175     16
3         90          174     28
4        100          185     23

# Questão #4  
Vale 10  
Enunciado  
Carregue, em um objeto DataFrame, o arquivo CSV que você salvou no item (f) da questão anterior. Em seguida,  
  
(a) Crie uma nova coluna que contenha o nome das pessoas (sinta-se à vontade para atribuir os nomes que preferir).
(b) Defina a nova coluna criada (com os nomes) como o índice (index) do seu DataFrame.
(c) Obtenha o nome das pessoas que são classificadas com Sobrepeso (IMC entre 25 e 29,9).

# Questão #5  
Vale 10   
Enunciado  
Carregue, em um objeto DataFrame, o mesmo dataset que você salvou na Questão 3. Em seguida,  
  
(a) Adicione uma nova coluna nesse DF chamada Classificação,   
que contenha a classificação de cada indivíduo, de acordo com o seu IMC. Para isso, consulte a tabela abaixo.  
  
|IMC	Classificação|	Obesidade (grau)|
|---|----|
|Menor que| 18,5|	Magreza	0|
|Entre| 18,5 e 24,9|	Normal	0|
|Entre| 25,0 e 29,9|	Sobrepeso	I|
|Entre| 30,0 e 39,9|	Obesidade	II
|Maior que| 40,0|	Obesidade Grave	III|
(b) Salve em DataFrame no formato xlsx.

In [24]:
df = pd.read_csv(StringIO("""IMC,Classificação,Obesidade (grau)
"Menor que 18,5",Magreza,0
"Entre 18,5 e 24,9",Normal,0
"Entre 25,0 e 29,9",Sobrepeso,I
"Entre 30,0 e 39,9",Obesidade,II
"Maior que 40,0",Obesidade Grave,III
"""))
df

                 IMC    Classificação Obesidade (grau)
0     Menor que 18,5          Magreza                0
1  Entre 18,5 e 24,9           Normal                0
2  Entre 25,0 e 29,9        Sobrepeso                I
3  Entre 30,0 e 39,9        Obesidade               II
4     Maior que 40,0  Obesidade Grave              III