# Funções Agregadas

## Sumarizando informações   
As cláusulas que vimos anteriormente são os tijolos elementares para realizarmos quaisquer consultas em tabelas num banco de dados relacional. Embora individualmente elas sejam bastante simples, sua combinação é justamente o que torna o SQL tão expressivo e poderoso.

Exemplo:
Vamos usar a database "bd_papelaria" e as tabelas "tb_produto" e "tb_entrada_produto". A tabela de "tb_produto" vai conter o cadastro dos produtos que a papelaria vende.

Relatórios e gráficos são agregados de informações, precisamos aprender a juntar os dados em tabelas que sumarizem esses dados. Contando, somando, tomando a média, entre outros.

Vamos aprender tais ações utilizando as tabelas tb_produto, tb_entrada_produto, tb_estoque e tb_saida_produto.

- **MIN**() **MAX**()
    Começamos mostrando como obter os menores e os maiores valores de determinada coluna, de modo geral, ou em relação a outra coluna.

    Para obter o produto com valor mínimo de uma coluna, usamos:
    ```
    SELECT MIN(valor_unitario)
    FROM tb_entrada_produto;
    ```
    Para obter o produto com valor máximo de uma coluna, usamos:
    ```
    SELECT MAX(valor_unitario)
    FROM tb_entrada_produto;
    ```
- **COUNT**()
    Podemos contar todas as linhas de uma tabela de um modo bem simples:
    ```
    SELECT COUNT(*)
    FROM tb_saida_produto;
    ```
- **SUM**()
    Para somar todos os valores por quantidade, usamos o SUM(). Abaixo, somamos os preços de todos os produtos da tabela por categoria.
    ```
    SELECT qtde,
            SUM(valor_unitario)
    FROM tb_saida_produto
    GROUP BY 1;
    ```
- **AVG**()
    Com frequência também precisamos tomar a média para cada conjunto de quantidade de produto na nossa base. Para tanto, temos o AVG(). A seguir, calculamos a média de quantidade de produtos para cada valor unitário:
    ```
    SELECT valor_unitario,
            AVG(qtde)
    FROM tb_entrada_produto
    GROUP BY 1;
    ```
- **HAVING**
    E se quisermos filtrar os resultados de uma query pelas contagens ou somas calculados nessa própria query? O WHERE não vai funcionar, porque ele não é capaz de filtrar resultados de funções agregadoras, como **COUNT**, **MIN** ou **SUM**. Para isto, existe o **HAVING**.

    Abaixo ilustramos seu uso como filtro: após contarmos quantos itens há em cada valor unitário, exibiremos apenas aquelas linhas de valor unitário que tenham, associadas a si, mais do que 2 itens ao menos:
    ```
    SELECT valor_unitario,
            COUNT(*)
    FROM tb_estoque
    GROUP BY 1
    HAVING COUNT(*) > 2;
    ```