# Manipulando Datas
Vamos supor que precisamos verificar a soma da receitas por mês em nossos dados de teste. Para fazer isto podemos utilizar um GROUP BY, porém temos que organizar os grupos por meses, ou seja, devemos conseguir manipular as datas de forma a pegar somente o valor por mês.

Para ações como esta o SQL tem funções específicas para manipulação de datas, que servem tanto para apresentarmos elas em um formato mais amigável quanto para retirarmos valores expecíficos como ano, mês ou dia.

Pegando a data atual:

Para pegar a data atual usamos a função current_date.

Retirando um valor:

Para retirar um valor podemos fazer a função date_part.
```
date_part(text, timestamp)
```
Exemplo: Pegando o mês referente a data atual
```
 SELECT date_part('month', current_date)
 ```
Exemplo: Mostrando os meses das vendas
```
 SELECT date_part('month', "Date") FROM sale
 ```
Exemplo: Verificando a média da receita mensal
```
 SELECT 
    DATE_PART('month', data_venda), 
    AVG(valor_venda) FROM vendas
 GROUP BY DATE_PART('month', data_venda) 
 ORDER BY 1
 ```
Trunc: O date_part permite retornar um tipo expecifico de valor da data, porém pode ser nescessario apenas reduzir sua precisão, cortando os valores que não são necessarios, como por exemplo reduzir uma precisão de segundos para uma precisão de meses, para isto usamos a date_trunc:
```
date_trunc(text, timestamp)
```
Exemplo: Pegando o dia atual com precisão de um mês
```
 SELECT date_trunc('month', current_date)
 ```
Exemplo: Pegando a evolução mensal da receita da VanArsdel
```
SELECT 
  DATE_TRUNC('month', data_venda),
  SUM(valor_venda)
FROM vendas
INNER JOIN produtos
    ON vendas.id_produto = produtos.id
WHERE produto.fabricante = 'VanArsdel' 
GROUP BY 1 
ORDER BY 1;
```
Convertendo data para texto: Outra ação muito utilizada em datas é a conversão para texto com um formato expecífico. Para isto, podemos passar uma coluna contendo datas e enviar o padrão que queremos utilizar com a função:
```
select to_char(date,padrao)
```
Exemplo: Convertendo a data atual para o padrão dia/mes/ano
```
select to_char(current_date,'DD/MM/YYYY')
```